---
import LinkButton from "./LinkButton.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"


const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
}
const PROJECTS = [
{
    title: "Kiara Inmuebles - Desarrollo de Aplicación Inmobiliaria",
    description:
      "En este proyecto, desarrollé una aplicación web inmobiliaria para Kiara Inmuebles, una empresa de bienes raíces en México. Aplicando metodologías ágiles como Scrum y Disciplined Agile Delivery, desarrollé junto a mi equipo de desarrollo una aplicación monolítica con base de datos SQL. La optimización de la interfaz para escritorio y móvil, junto con pruebas unitarias utilizando Jest, fueron elementos clave en el éxito de este proyecto de 6 meses.",
    link: "https://casaenqueretaro.com.mx/",
    github: "https://github.com/Genesis-Solutions/Kiara-Bienes-Raices/tree/develop",
    image: "/projects/kiara_page.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Store Sales - Time Series Forecasting",
    description:
      "En este proyecto, diseñé un algoritmo de aprendizaje automático basado en Python para predecir las ventas de la tienda Favorita. Desde la minería de datos hasta la evaluación del rendimiento utilizando RMSLE, demostré habilidades sólidas en el procesamiento de datos y modelado predictivo.",
    link: "https://www.kaggle.com/competitions/store-sales-time-series-forecasting",
    github: "https://github.com/FlavioRr/StoreSalesForecastingTC3006C",
    image: "/projects/salesforecast.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Proyecto de Clasificación de Imágenes Deportivas con Transfer Learning y CNN",
    description:
      "Este proyecto detalla la implementación de una Convolutional Neural Network (CNN) para la clasificación de imágenes deportivas utilizando técnicas de Transfer Learning. Centrándose en el conjunto de datos _100 Sports Image Classification_, se emplearon bibliotecas como TensorFlow, Keras, Pandas, Matplotlib y NumPy para lograr un rendimiento óptimo",
    link: "https://adventjs.dev",
    github: "https://github.com/Jaime-prog/AI_DataScience_NeuralSight/tree/main",
    image: "/projects/sports.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Oden Rain - Prototipo de aplicación sobre cuidado de plantas",
    description:
      "Este proyecto tuvo como enfoque el diseño del prototipo de una aplicación movil que tenía como objetivo ayudar a las personas a tener un cuidado personalizado de cada una de sus plantas en sus hogares",
    link: "https://www.figma.com/file/70sdBSX7VK7FeUPnlM0dPa/Work-for-Scholarship?type=design&node-id=124%3A59&mode=design&t=zJ1uirDwjU8XeP49-1",
    image: "/projects/odenrain.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Rediseño de página web para servicio social",
    description:
      "Aquí tuve la oportunidad de rediseñar la página web de la Universidad Tecnológica de Querétaro para el servicio social. El objetivo era mejorar la experiencia del usuario y la accesibilidad de la información para los estudiantes.",
    link: "https://www.figma.com/file/70sdBSX7VK7FeUPnlM0dPa/Work-for-Scholarship?type=design&node-id=3%3A258&mode=design&t=zJ1uirDwjU8XeP49-1",
    image: "/projects/scholarship.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Proyecto de machine learning y analítica" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              Código
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              Detalle
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>


